@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@400;500&display=swap');

body{
    font-family: 'Quicksand', sans-serif;
    font-size: 9pt;
    margin: 0;
    background-color: rgb(65, 61, 61);
}

header {
    width: 100%;
    height: 60px;
    float: right;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.475);
    position: fixed;
}

a {
    color: rgb(155, 139, 139);
    text-decoration: none;
    transition: 0.4s;
}

a:hover {
    color: #ffffff;
}

.header{
    float: right;
    color: white;
    display: flex;
    align-items: center;
}

.header-div-title{
    display: flex;
}

.header-div-title > h2{
    transition: 0.3s;
}

.header-div-title > h2:hover{
    color: #ffffff;
}

.header > div > h1 {
    margin: 14px 280px;
    position: fixed;
}

.header-title{
    font-size: 15px;
    color:rgb(155, 139, 139);
    margin: 20px;
}

.header-title-div-btn{
    font-size: 15px;
    color:rgb(155, 139, 139);
    margin-top: 8px;
    margin-right: 8px;
}

.header-title-btn{
    font-family: 'Quicksand', sans-serif;
    font-weight: 600;
    width: 100px;
    height: 40px;
    background-color: rgb(255, 255, 255);
    color:rgb(0, 0, 0);
    border-radius: 25px 25px 25px 25px;
}

.header-title-btn:hover{
    background-color: #d2d2d2;
    width: 102px;
    height: 42px;
}

.body {
    display: flex;
    color: white;
    width: 100%;
}

.menu {
    color:rgb(155, 139, 139);
    background-color: black;
    height: 100%;
    width: 18%;
    float: left;
    position: fixed;
    font-weight: bold
}

.menu > div > a > img {
    width: 40%;
    margin: 25px 40px;
}

.section-menu-1{
    font-size: 20px;
    margin-left: 40px;
}

.section-menu-1 > p{
    transition: 0.4s;
}

.section-menu-1 > p:hover{
    color: #ffffff;
}

.section-menu-inicio{
    width: 30px;
    display: flex;
}

.section-menu-inicio > img{
    width: 15px;
}

.section-menu-2{
    font-size: 20px;
    margin-left: 40px;
    margin-top: 40px;
}

.section-menu-2 > p{
    transition: 0.4s;
}

.section-menu-2 > p:hover{
    color: #ffffff;
}

.section-menu-3{
    font-size: 10px;
    margin-left: 40px;
    margin-top: 80%;
}

.section-menu-3 > p{
    transition: 0.4s;
}

.section-menu-3 > p:hover{
    color: #ffffff;
}

.content{
    margin-left: 19%;
    width: 100%;
}

.section-content-title{
    margin-top: 5%;
    display: flex;
    align-content: flex-end;
}

.section-content-title > h1{
    margin-left: 15px;
}

.section-content-title > h3{
    color:rgb(155, 139, 139);
    margin-left: 800px;
}

.section-content-title2{
    display: flex;
    align-content: flex-end;
}

.section-content-title2 > h1{
    margin-left: 15px;
}

.section-content-title2 > h3{
    color:rgb(155, 139, 139);
    margin-left: 850px;
}

.section-content-title3{
    display: flex;
    align-content: flex-end;
}

.section-content-title3 > h1{
    margin-left: 15px;
}

.section-content-title3 > h3{
    color:rgb(155, 139, 139);
    margin-left: 890px;
}

.content > a:hover {
    text-decoration: overline;
}

.section-content-albuns{
    display: flex;
}

.section-content-albuns-album{
    background-color: rgb(49, 46, 46);
    margin-left: 30px;
    width: 190px;
    text-align: center;
    border-radius: 10px;
}

.section-content-albuns-album-img{
    width: 150px;
    margin-top: 15px;
    border-radius: 10px;
}





.faq-content{
    margin-left: 19%;
    width: 100%;
    margin-top: 10%;
    text-align: center;
}

.faq-content-title-1{
    font-size: 80%;
}

.faq-content-title-2{
    font-size: 160%;
}

.faq-content-title-3{
    font-size: 160%;
}

.faq-content-list{
    width: 50%;
    background-color: #ffffff;
    color: black;
    border: 4px solid #ffffff;
    border-radius: 25px 25px 25px 25px;
    font-size: 16px;
    margin: 0 auto;
}

.faq-content-list > ol{
    text-align: center;
    font-weight: bold
}